<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/TestingClass2024/playwright001/JavaForTesters">
        <classes>
            <class name="org.softech.interview.FindFrequency">
                <methods>
                    <include name="findUniqueCharacters"/>
                    <include name="findUniqueCharacters001"/>
                    <include name="printCharctersFromString"/>
                    <include name="countNamesList"/>
                    <include name="countNamesArray"/>
                </methods>
            </class>

            <class name="org.softech.interview.OutputKnowledgeTest">
                <methods>
                    <include name="prediacteExample001"/>
                    <include name="findMaxUsingComparartor"/>
                </methods>
            </class>
            <class name="org.softech.interview.ReverseEachWord">
                <methods>
                    <include name="reverseEachWordInStringArray"/>
                    <include name="reverseEachWordInStringList"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>